.interests {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-top: 1rem;
  text-align: center;
  margin: 0 1rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: large;
  font-weight: bold;
  text-align: start;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.interests ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interests li {
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgb(161, 172, 172);
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 110px;
}


.interests li:hover {
  background-color: rgb(121, 117, 117);
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .interests {
    padding: 1rem;
  }

  .interests li {
    min-width: auto;
    width: 100%;
  }
}
